.services_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 120px;
}

@media (max-width: 1200px) {
  .services_list {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}

@media (max-width: 992px) {
  .services_list {
    margin-bottom: 60px;
  }
}

@media (max-width: 768px) {
  .services_list {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}
