.ymaps3x0--map {
  width: 100% !important;
  border-radius: 30px !important;
}

.ymaps3x0--main-engine-container {
  width: 100% !important;
  border-radius: 30px !important;
}

iframe {
  width: 100% !important;
  border-radius: 30px !important;
}
