@import "./_typography";
@import "./_variable";
@import "./_constants";

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  background-color: var(--color-background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  h1 {
    font-size: 60px;
    font-weight: 400;
    margin-top: 50px;
    @media (max-width: 992px) {
      font-size: 50px;
      margin-top: 10px;
    }
  }
  // Большие экраны (1440px+)
  @media (min-width: 1440px) and (max-width: 1919px) {
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 120px;
  }

  // Очень большие экраны (1920px+)
  @media (min-width: 1920px) and (max-width: 2559px) {
    padding-left: 12%;
    padding-right: 12%;
    width: 100%;
    margin-bottom: 120px;
    margin-top: 120px;
  }

  // Ультра-широкие экраны (2560px+)
  @media (min-width: 2560px) and (max-width: 3839px) {
    padding-left: 22%;
    padding-right: 22%;
    margin-bottom: 150px;
    margin-top: 150px;
  }

  // 4K и очень широкие экраны (3840px+)
  @media (min-width: 3840px) {
    padding-left: 25%;
    padding-right: 25%;
    margin-bottom: 200px;
    max-width: 2400px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: 1025px) and (max-width: 1439px) {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 100px;
  }

  // Планшеты
  @media (max-width: 1024px) {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 80px;
  }

  // Мобильные устройства
  @media (max-width: 768px) {
    padding-left: 4%;
    padding-right: 4%;
    margin-bottom: 80px;
    margin-top: 60px;
  }

  @media (max-width: 480px) {
    padding-left: 3%;
    padding-right: 3%;
    margin-bottom: 60px;
    margin-top: 40px;
  }
}

#about {
  scroll-margin-top: 0px; // Современное свойство для смещения

  &::before {
    content: "";
    display: block;
    height: 120px;
    margin-top: -120px;
    visibility: hidden;
  }
}

#services {
  scroll-margin-top: 50px; // Современное свойство для смещения

  &::before {
    content: "";
    display: block;
    height: 120px;
    margin-top: -120px;
    visibility: hidden;
  }
}

#specialists {
  scroll-margin-top: 0px; // Современное свойство для смещения

  &::before {
    content: "";
    display: block;
    height: 120px;
    margin-top: -120px;
    visibility: hidden;
  }
}

#sales {
  scroll-margin-top: 70px; // Современное свойство для смещения

  &::before {
    content: "";
    display: block;
    height: 120px;
    margin-top: -120px;
    visibility: hidden;
  }
}

#reviews {
  scroll-margin-top: 70px; // Современное свойство для смещения

  &::before {
    content: "";
    display: block;
    height: 120px;
    margin-top: -120px;
    visibility: hidden;
  }
}

#contacts {
  scroll-margin-top: 20px; // Современное свойство для смещения

  &::before {
    content: "";
    display: block;
    height: 120px;
    margin-top: -120px;
    visibility: hidden;
  }
}

.second_page__container {
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 60px;
    font-weight: 400;
    margin-top: 50px;
  }
}

.component {
  margin-bottom: 120px;

  h2 {
    font-size: 44px;

    @media (max-width: 768px) {
      font-size: 30px;
    }
  }

  @media (max-width: 992px) {
    margin-bottom: 60px;
  }
}
