@import "./variable";
@import "./constants";

h1 {
  font-family: var(--font-family-sans);
  color: var(--color-text-primary);
  font-weight: 700;
}

h2 {
  font-family: var(--font-family-sans);
  color: var(--color-text-secondary);
  font-weight: 600;

  @media (max-width: 768px) {
    font-size: 36px;
  }
}

h3 {
  font-family: var(--font-family-sans);
  color: var(--color-text-primary);
  font-weight: 600;
}

p {
  font-family: var(--font-family-sans);
  color: var(--color-text-primary);
}

span {
  font-family: var(--font-family-sans);
  color: var(--color-text-primary);
}
